<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
    <meta name="description" content="Travel">
    <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="booking.css">
</head>

<body>
    <header>
        <div class="logo">BOOK & TRAVEL</div>
        <nav>
            <ul class="mainmenu">
                <li><a href="#">DSC DDU </a></li>

            </ul>
        </nav>
        <div class="menu-toggle"><i class="fa fa-bars"></i> </div>

        <div class="socialmedia">

        </div>

    </header>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('nav').toggleClass('active')
            })
        }) </script>

    <div id="page1">

        <img alt="plane" class="plane" src="https://i.ibb.co/52bG3RC/landingpage-assets-0005-plane.png">


        <div class="right">
            <h1 class="book">BOOK </h1>
            <h1 class="travel">& TRAVEL</h1>
            <h4> Predict your flight ticket price here...</h4>
            <form class="reservation">
                <fieldset>
                    <label> DESTINATION</label>
                    <div>
                        <input type="text" id="cities" name="cities" size="20" value="" placeholder="Paris, France"
                            required /></div>

                    <div class="left2">
                        <label>CHECK-IN DATE</label>
                        <input type="date" id="start" name="trip" value="2018-07-22" min="2018-01-01"
                            max="2018-12-31" />

                        <label>ADULTS</label>
                        <input list="adults" id="adults-number" name="adults-number" />

                        <datalist id="adults">
                            <option value="1 adult">
                            <option value="2 adults">
                            <option value="3 adults">
                            <option value="+3 adults">
                        </datalist>
                    </div>

                    <div class="right2">
                        <label>CHECK-OUT DATE</label>
                        <input type="date" id="end" name="trip" value="2019-07-29" min="2019-01-01" max="2019-12-31" />
                        <label>CHILDREN</label>
                        <input list="children" id="children-number" name="children-number" />

                        <datalist id="children">
                            <option value="No children">
                            <option value="1">
                            <option value="2">
                            <option value="3">
                        </datalist>
                    </div>

                    <div class="button">
                        <input type="button" class="btn" value="Predict Price" /></div>

                </fieldset>
            </form>
        </div>
    </div>


    <div id="page3">
        <h2 class="intro">Our predicted price for your journey</h2>

        <div class="slider-container">

            <input id="slide-dot-1" type="radio" name="slides" checked>
            <div class="slide slide-1">
                <div class="top-left">
                    Flight Price :<span> &#8377</span>4000

                </div>
                <img alt="paper" class="paper" src="https://i.ibb.co/HgVfMQQ/Paper-Plane-800x800.png">
            </div>


        </div>
    </div>

    <div id="footer">
        <ul class="mainmenu2">
            <li><a href="#">Accommodations</a></li>
            <li><a href="#">Flights</a></li>
            <li><a href="#">Car Rentals</a></li>
            <li><a href="#">Airport Taxis</a></li>
        </ul>

        <div class="socialmedia2">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>


        <ul id="collegamenti">
            <li><a href="#">Careers</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Polices</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>


        <p class="final">Feel free to contact us:<br> <span>dscddu@gmail.com</span><br> © 2019 DSC DDU</p>

    </div>
</body>